<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Connection</title>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

<body>


    <div class=" text-center">
      <h1>Connection de l'utilisateur</h1>
    </div>

    <div class = "container text-center">
      <form action="{% url 'userPage:connect' %}" id="tab" method="post">
          {% csrf_token %}
          <label>Username</label>
          <input type="text"  name='username' class="input-xlarge" >
          <label>Password</label>
          <input type="password"  name='password' class="input-xlarge" >

        	<div>
      	    <button class="btn btn-primary" type="submit">Connection</button>
      	</div>
      </form>
    </div>

</body>

</html>
